.video-storage {
	position: relative;
	.margin-left {
		margin-left: -20px;
	}
	.content-header {
		background-color: #2B343D;
		height: 40px;
		> * {
			float: left;
			height: 40px;		
			vertical-align: top;
		}
		.action {
			width: 50px;
			margin-right: 5px;
			background-color: #1587E0;
			background-position: center;
			background-image: url('../img/upload.png');
			background-repeat: no-repeat;
			margin-top: 0;
			width: 60px;
			cursor: pointer;
			&:hover {
				background-color: lighten(#1587E0, 10%);
			}
		}
		.action:first-child {
			margin-left: 30px;
			background-image: url('../img/create-query.png');
		}
		.search-block {
			float: none;
			position: absolute;
			display: block;
			line-height: 40px;
			left: 50%;
			width: 600px;
			margin-left: -300px;
			> .input-append {
				vertical-align: top;
				line-height: 40px;
				display: inline-block;
				margin: 0;
				width: 430px;
				> * {
					vertical-align: middle;
				}
				> input {
					width: -moz-calc(~"100% - 22px");
					width: -webkit-calc(~"100% - 22px");
					width: -o-calc(~"100% - 22px");
					width: calc(~"100% - 22px"); 
				}
				> .search-button {
					display: inline-block;
					height: 25px;
					width: 23px;
					line-height: 25px;
					margin-left: -1px;
					border: 1px solid #c8c5c5;
					border-radius: 0;
					background-image: url('../img/search.png');
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
		.extended-search {
			padding-left: 17px;
			color: white;
			width: 170px;
			height: 25px;
			line-height: 25px;
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			border: 1px solid transparent;
			i {
				background: url('../img/v-arrow-sprite.png') no-repeat;
				width: 10px;
				height: 5px;
				display: inline-block;
				margin: 0 5px;
			}
		}
		.extended-search.expanded {
			background-color: rgba(170, 170, 170, 0.69);
			border-top: 1px solid rgb(204, 204, 204);
			border-right: 1px solid rgb(204, 204, 204);
			i {
				background-position: 0 -7px;
			}
		}
		.extended-search-params {
			display: none;
			top: 34px;
			background: white;
			padding: 20px;
			position: absolute;
			text-align: left;
			width: 100%;
			z-index: 100;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
			> div > label {
				width: 100px;
				padding-top: 5px;
				padding-bottom: 25px;
			}
			> div > div > label {
				display: inline-block;
			}
			input[type=checkbox], input[type=checkbox] + label {
				vertical-align: top;
				margin-top: 5px;
			}
			input[type=checkbox] {
				margin-top: 10px;
			}
			input[type=checkbox] + label {
				margin-right: 50px;
				
			}
			.search-header, .search-number {
				width: 400px;
			}
			.search-address {
				width: 300px;
				margin-right: 10px;
			}
			.search-radius {
				width: 50px;
				margin-left: 5px;
				margin-right: 5px;
			}
			.search-auto-region {
				width: 50px;
			}
			.search-hint {
				display: block;
				padding-left: 5px;
				font-size: 12px;
				font-style: italic;
				color: #aaa;
				line-height: 0px;
			}
			.search-auto-block {
				> div {
					display: inline-block;
				}
				label {
					display: inline-block;
					margin: 0 5px 0 10px;
				}
				.search-auto-region + span {
					margin-left: 65px;
				}
			}
			.search-auto-number {
				width: 130px;
			}
			.input-append {
				margin-right: 20px;
			}
		}
	}
	.query-list,
	.query-form {
		position: absolute;
		top: 40px;
		bottom: 0;
		left: 0;
		width: 25%;
		height: -moz-calc(~"100% - 40px");
		height: -webkit-calc(~"100% - 40px");
		height: -o-calc(~"100% - 40px");
		height: calc(~"100% - 40px"); 
		overflow: auto;
	}
	.query-list {

		border-top: 1px solid #FBFBFB;
		box-shadow: 2px 0 2px rgba(0,0,0,0.1);
		z-index: 10;
		.query-list-header {
			background-color: #2B343D;
			height: 30px;
			line-height: 30px;
			a {
				color: white;
				display: inline-block;
				vertical-align: top;
				padding: 0 10px;
				height: 30px;
				border-right: 1px solid #aaa;
				&:hover {
					text-decoration: none;
					background-color: #383838;
				}
			}
			.active {
				background-color: white;
				border-bottom: 3px solid lighten(#3b9fed, 10%);
				color: #464646;
				height: 33px;
				&:hover {
					background-color: white;
				}
			}
			#select-query-date {
				float: right;
				width: 30px;
				height: 30px;
				cursor: pointer;
				text-align: right;
				input {
					display: none;
				}
				.add-on {
					height: 30px;
					width: 30px;
					border-radius: 0;
					border: 1px solid #c8c5c5;
				}
				.add-on.active {
					height: 33px;
					border-bottom: 3px solid lighten(#3b9fed, 10%);
				}
			}
		}
		.query {
			border: 1px solid #e8e8e8;
			border-top: none;
			background-color: #FBFBFB;
			-moz-transition: background 400ms ease;
			-webkit-transition: background 400ms ease;
			-o-transition: background 400ms ease;
			transition: background 400ms ease;
			.query-info {
				padding: 5px 0;
				cursor: pointer;
				-moz-transition: color 400ms ease;
				-webkit-transition: color 400ms ease;
				-o-transition: color 400ms ease;
				transition: color 400ms ease;
			}
			.answer-string,
			.query-string {
				margin: 10px 10px 10px 25px;
				> span {
					display: inline-block;
				}
				> span:nth-child(1) {
					width: -moz-calc(~"100% - 130px");
					width: -webkit-calc(~"100% - 130px");
					width: -o-calc(~"100% - 130px");
					width: calc(~"100% - 130px"); 
				}
				> span:nth-child(2) {
					width: 80px;					
				}
				> span:nth-child(3) {
					width: 40px;					
				}
			}
			.answer-string  {	
				margin-bottom: -5px;
				display: none;
			}
			.number-string {
				margin-left: 25px;
			}
			.query-title {
				margin: 0 10px 10px 25px;
				line-height: 14px;
				max-height: 50px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			> .query-info > .query-group-container,
			 > .query-group-header {
				visibility: hidden;
				height: 0;
			}
			.expand {
				background: url('../img/collapse-right.png') no-repeat center center;
				-moz-transition: all 400ms ease;
				-webkit-transition: all 400ms ease;
				-o-transition: all 400ms ease;
				transition: all 400ms ease;
				width: 10px;
				height: 10px;
				display: inline-block;
				margin-right: 5px;
			}
		}
		.query.active {
			> .query-info {
				color: white;
			}
		}
		.query.has-response {
			> .query-info .answer-string {
				display: block;
			}
			.answer-string:before{
				-moz-transition: height 400ms ease;
				-webkit-transition: height 400ms ease;
				-o-transition: height 400ms ease;
				transition: height 400ms ease;
				content: ' ';
				display: inline-block;
				position: absolute;
				margin-left: -18px;
				margin-top: 6px;
				height: 32px;
				width: 20px;
				background: url('../img/query-answer.png') no-repeat;
			}
		}
		.query.has-response.active {
			> .query-info .answer-string:before{
				background-position: 0 -31px;
			}
		}
		.query.query-group {
			
			> .query-group-header {
				visibility: visible;
				height: auto;
				margin-left: 5px;
				margin-bottom: 0;
				padding-bottom: 5px;
				margin: 0;
				padding-left: 5px;
				padding-top: 5px;
				cursor: pointer;
			}
			> .query-group-container {
				border-top: 1px solid #e8e8e8;
				margin-bottom: 10px;
				.query:last-child {
					border-bottom: none;
				}
			}
		}
		.query.query-group.expanded {
			background-color: #ebf5fd;
			box-shadow: inset 0 6px 6px -5px rgba(0, 0, 0, 0.1), inset 0 -8px 6px -5px rgba(0, 0, 0, 0.1);
			.query {
				background-color: transparent;
			}
			.query.active {
				background-color: #1587E0;
			}
			.expand {
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
		.query.active,
		.query.query-group.expanded.active {
			> .query-info {
				background-color: #3b9fed;
			}
		}
	}
	.query-form {
		left: 25%;
		width: 75%;
		padding: 30px 0;
		background-color: #FBFBFB;
		> * {
			width: 80%;
			margin: 0 auto;
		}
		> h3 {
			font-size: 20px;
			padding-left: 10px;
		}
		> div {
			background-color: white;
			border: 1px solid #EEEEEE;
			padding: 20px 40px 10px 40px;
			margin-bottom: 10px;
		}
		.date-block label{
			display: table-cell;
			vertical-align: top;
			width: 70px;
		}
		label {
			display: inline-block;
			vertical-align: super;
			width: 90px;
		}
		input.query-form-header {
			margin-bottom: 15px;
		}
		input.query-form-header,
		input.query-form-number
		{
			width: -moz-calc(~"100% - 100px");
			width: -webkit-calc(~"100% - 100px");
			width: -o-calc(~"100% - 100px");
			width: calc(~"100% - 100px"); 
		}
		.address-block {
			> div {
				display: inline-block;
				.query-form-address {
					margin-right: 20px;
				}
				.query-form-address + label {
					width: 50px;
				}
				.query-form-radius {
					width: 50px;
					margin-right: 5px;
					margin-left: 5px;
				}
				span {
					font-size: 14px;
				}
			}
			.query-form-mark-area,
			.popup-map{
				margin-left: 95px;
			}
			.popup-map {
				margin-top: 5px;
				display: none;
				> div {
					> * {
						display: none;
					}
					#search-map {
						display: block;
						width: 200px;
						height: 150px;
						.leaflet-top.leaflet-left {
							display: none;
						}
					}
				}
			}
			.popup-map.active {
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				margin: 0;
				background: rgba(0,0,0,0.5);
				z-index: 20;
				> div {
					position: relative;
					margin: auto;
					padding: 20px;
					top: 50%;
					-webkit-transform: translatey(-50%);
					-ms-transform: translatey(-50%);
					transform: translatey(-50%);
					background: white;
					width: 60%;
					height: 70%;
					> * {
						display: block;
					}
					label {
						display: inline-block;
						margin-bottom: 0;
						vertical-align: text-bottom;
						margin-right: 10px;
					}
					input {
						width: 60%;
					}
					.popup-close {
						position: absolute;
						right: -25px;
						top: -25px;
						padding: 5px;
						width: 50px;
						border-radius: 50%;
						height: 50px;
						background: no-repeat url('../img/button-close.png');
						background-size: cover;
						opacity: 0.8;
						cursor: pointer;
						z-index: 10000;
					}
				}
				.button {
					height: 30px;
					width: 140px;
					margin: 15px auto 0;
					display: block;
				}
				#search-map {
					width: 100%;
					height: -moz-calc(~"100% - 80px");
					height: -webkit-calc(~"100% - 80px");
					height: -o-calc(~"100% - 80px");
					height: calc(~"100% - 80px");
					.leaflet-top.leaflet-left {
						display: block;
					}
				}
			}
		}
		.auto-block {
			> div {
				display: inline-block;
				input {
					margin-bottom: 0;
				}
				.query-form-hint {
					display: block;
					margin-left: 100px;
					font: 12px;
					font-style: italic;
					color: #aaa;
				}
			}
			.query-form-auto-number {
				width: 120px;
			}
			> div:nth-child(2) {
				label {
					direction: rtl;
					padding-right: 10px;
				}
				.query-form-auto-region {
					width: 50px;
				}
			}
		}
		.query-form-submit {
			background: none;
			border: none;
			padding-left: 135px;
			.button {
				height: 35px;
				margin-right: 10px;
			}
		}
	}	
}